@tailwind base;
@tailwind components;
@tailwind utilities;

#message-box {
  color: white;
}

#bar-chart {
  width: 1000px;
  max-height: 250px;
  display: flex;
  justify-content: center;
  bottom: 0;
  position: absolute;
  padding-bottom: 2%;
  /* overflow: auto; */
}
